#options {
  margin-inline: 1em;

  #toolbar {
    margin-block: 1em;
    display: flex;
    flex-direction: column;

    #refreshButton {
      margin-block: 1em;
    }

    form {
      display: flex;
      flex-direction: column;

      p, button  {
        margin-block: 1em;
      }
    }
  }

  #channelAdder {
    padding: 1em;
    background-color: palegoldenrod;
    border-radius: 25px;

    h3 {
      margin: 0;
    }
  }

  #trackedChannels {
    margin-block: 1em;

    #tracked {
      margin-block: 1em;
      padding: 1em;
      background-color: palegoldenrod;
      border-radius: 25px;

      .trackedChannel {
        margin-block: 1em;
      }

      p {
        margin-block: 0.5em;
      }
    }
  }
}
