.story {
  margin-block: 1em;

  p, h3 {
    margin-block: 0.5em;
  }
}

@media only screen and (min-width: 768px) {
  .story {
    height: 9em;

    p, h3 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
